.hamburger{
  display: block;
  cursor: pointer;
  background-color: transparent;
  overflow: visible;
  position: relative;
  width: $hamburger-layer-width;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
  >div{
    display: block;
    top: 50%;
    margin-top: $hamburger-layer-height / -2;
    &,
    &::before,
    &::after {
      width: $hamburger-layer-width;
      height: $hamburger-layer-height;
      background-color: $hamburger-layer-color;
      border-radius: $hamburger-layer-border-radius;
      position: absolute;
      transition-property: all;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }
    &::before,
    &::after {
      content: "";
      display: block;
    }
    &::before {
      top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
    }
    &::after {
      bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
    }
  }

}

.hamburger.hamburger-1{
  >div{
    top: auto;
    bottom: 0;
    transition-duration: 0.15s;
    transition-delay: 0.15s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    &::after{
      top: ($hamburger-layer-spacing * 2 + $hamburger-layer-height * 2) * -1;
      transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1) ,
      opacity 0.1s linear , background-color 0.3s linear;
    }
    &::before{
      transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1 ,
      transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19) , background-color 0.3s linear)
    }
  }
  &.active{
    div{
      transform: translate3d(0, ($hamburger-layer-spacing + $hamburger-layer-height) * -1, 0) rotate(-45deg);
      transition-delay: 0.32s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::after {
        top: 0;
        opacity: 0;
        transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333) , 
        opacity 0.1s 0.27s linear , background-color 0.3s linear;
      }

      &::before {
        top: 0;
        transform: rotate(-90deg);
        transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333) , 
        transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1) , background-color 0.3s linear;
      }
    }
  }
}

.hamburger.hamburger-2{
  >div{
    top: auto;
    bottom: 0;
    transition-duration: 0.15s;
    transition-delay: 0.15s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    &::after{
      top: ($hamburger-layer-spacing * 2 + $hamburger-layer-height * 2) * -1;
      transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1) , 
      opacity 0.1s linear , background-color 0.3s linear;
    }
    &::before{
      transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1) , 
      transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19) , background-color 0.3s linear;
    }
  }
  &.active{
    div{
      transform: translate3d(0, ($hamburger-layer-spacing + $hamburger-layer-height) * -1, 0) rotate(45deg);
      transition-delay: 0.32s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::after {
        top: 0;
        opacity: 0;
        transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333) , 
        opacity 0.1s 0.27s linear , background-color 0.3s linear;
      }

      &::before {
        top: 0;
        transform: rotate(90deg);
        transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333) , 
        transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1) , background-color 0.3s linear;
      }
    }
  }
}

.hamburger.hamburger-3{
  >div{
    top:0;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    &::before{
      top:$hamburger-layer-height+$hamburger-layer-spacing;
      transition: opacity 0.15s 0.4s ease , background-color 0.3s linear;
    }
    &::after{
      top:($hamburger-layer-height * 2) + ($hamburger-layer-spacing * 2);
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) , background-color 0.3s linear;
    }
  }
  &.active{
    >div{
      $y-offset: $hamburger-layer-spacing + $hamburger-layer-height;
      transform: translate3d(0,$y-offset,0) rotate(135deg);
      transition-delay: .1s;
      &::before{
        transition-delay: 0s;
        opacity: 0;
      }
      &:after{
        transform: translate3d(0, $y-offset * -2, 0) rotate(-270deg);
        transition-delay: .1s;
      }
    }
  }
}

.hamburger.hamburger-4{
  >div{
    top:0;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    &::before{
      top:$hamburger-layer-height+$hamburger-layer-spacing;
      transition: opacity 0.15s 0.4s ease , background-color 0.3s linear;
    }
    &::after{
      top:($hamburger-layer-height * 2) + ($hamburger-layer-spacing * 2);
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) , background-color 0.3s linear;
    }
  }
  &.active{
    >div{
      $y-offset: $hamburger-layer-spacing + $hamburger-layer-height;
      transform: translate3d(0,$y-offset,0) rotate(-135deg);
      transition-delay: .1s;
      &::before{
        transition-delay: 0s;
        opacity: 0;
      }
      &:after{
        transform: translate3d(0, $y-offset * -2, 0) rotate(270deg);
        transition-delay: .1s;
      }
    }
  }
}

.hamburger.hamburger-5{
  >div{
    margin-top:-2px;
    transition: background-color 0.2s 0.25s ease-in , background-color 0.3s linear;
    &::before{
      left:0;
      transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335) , top 0.05s 0.2s linear , left 0.2s 0.25s ease-in , background-color 0.3s linear;
    }
    &::after{
      top: ($hamburger-layer-height) + ($hamburger-layer-spacing);
      right:0;
      transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335) , top 0.05s 0.2s linear , right 0.2s 0.25s ease-in , background-color 0.3s linear;
    }
  }
  &.active{
    >div{
      transition-delay: 0s;
      transition-timing-function: ease-out;
      background-color: transparent;
      &::before{
        left: $hamburger-layer-width * -2;
        top: $hamburger-layer-width * -2;
        transform: translate3d($hamburger-layer-width * 2, $hamburger-layer-width * 2, 0) rotate(45deg);
        transition: left .2s ease-out , top 0.05s 0.2s linear , transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) , background-color 0.3s linear;
      }
      &::after{
        right: $hamburger-layer-width * -2;
        top: $hamburger-layer-width * -2;
        transform: translate3d($hamburger-layer-width * -2, $hamburger-layer-width * 2, 0) rotate(-45deg);
        transition: right 0.2s ease-out , top 0.05s 0.2s linear , transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) , background-color 0.3s linear;
      }
    }
  }
}

.hamburger.hamburger-6{
  >div{
    margin-top:-2px;
    transition: background-color 0.2s 0.25s ease-in , background-color 0.3s linear;
    &::before{
      left:0;
      transition:transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335) , top 0.05s 0.2s linear , left 0.2s 0.25s ease-in , background-color 0.3s linear;
    }
    &::after{
      top: ($hamburger-layer-height) + ($hamburger-layer-spacing);
      right:0;
      transition:transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335) , top 0.05s 0.2s linear , right 0.2s 0.25s ease-in , background-color 0.3s linear;
    }
  }
  &.active{
    >div{
      transition-delay: 0s;
      transition-timing-function: ease-out;
      background-color: transparent;
      &::before{
        left: $hamburger-layer-width * -2;
        top: $hamburger-layer-width * 2;
        transform: translate3d($hamburger-layer-width * 2, $hamburger-layer-width * -2, 0) rotate(-45deg);
        transition: left .2s ease-out , top 0.05s 0.2s linear , transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) , background-color 0.3s linear;
      }
      &::after{
        right: $hamburger-layer-width * -2;
        top: $hamburger-layer-width * 2;
        transform: translate3d($hamburger-layer-width * -2, $hamburger-layer-width * -2, 0) rotate(45deg);
        transition: right 0.2s ease-out , top 0.05s 0.2s linear , transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) , background-color 0.3s linear;
      }
    }
  }
}

.hamburger.hamburger-7{
  >div{
    top:0;
    &::before{
      top: $hamburger-layer-height + $hamburger-layer-spacing;
      transition-property: transform , opacity , background-color;
      transition-timing-function: ease;
      transition-duration: .2s;
    }
    &::after{
      top: ($hamburger-layer-height * 2) + ($hamburger-layer-spacing * 2);
    }
  }
  &.active{
    >div{
      $y-offset: $hamburger-layer-spacing + $hamburger-layer-height;
      transform: translate3d(0, $y-offset, 0) rotate(45deg);
      &::before{
        transform: rotate(-45deg) translate3d($hamburger-layer-width / -7, $hamburger-layer-spacing * -1, 0);
        opacity: 0;
      }
      &::after{
        transform: translate3d(0, $y-offset * -2, 0) rotate(-90deg);
      }
    }
  }
}

.hamburger.hamburger-8{
  >div{
    top:0;
    &::before{
      top: $hamburger-layer-height + $hamburger-layer-spacing;
      transition-property: transform , opacity , background-color;
      transition-timing-function: ease;
      transition-duration: .2s;
    }
    &::after{
      top: ($hamburger-layer-height * 2) + ($hamburger-layer-spacing * 2);
    }
  }
  &.active{
    >div{
      $y-offset: $hamburger-layer-spacing + $hamburger-layer-height;
      transform: translate3d(0, $y-offset, 0) rotate(-45deg);
      &::before{
        transform: rotate(45deg) translate3d($hamburger-layer-width / -7, $hamburger-layer-spacing * -1, 0);
        opacity: 0;
      }
      &::after{
        transform: translate3d(0, $y-offset * -2, 0) rotate(90deg);
      }
    }
  }
}

.hamburger.hamburger-9{
  >div{
    margin-top:-2px;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    &::before{
      transition: top 0.1s 0.34s ease-in , opacity 0.1s ease-in , background-color 0.3s linear;
    }
    &::after{
      transition: bottom 0.1s 0.34s ease-in , transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) , background-color 0.3s linear;
    }
  }
  &.active{
    >div{
      transform: rotate(225deg);
      transition-delay: 0.14s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      &::before{
        top:0;
        opacity: 0;
        transition: top .1s ease-out , opacity 0.1s 0.14s ease-out , background-color 0.3s linear;
      }
      &::after{
        bottom:0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out , transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1) , background-color 0.3s linear;
      }
    }
  }
}

.hamburger.hamburger-10{
  >div{
    margin-top:-2px;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    &::before{
      transition: top 0.1s 0.34s ease-in , opacity 0.1s ease-in , background-color 0.3s linear;
    }
    &::after{
      transition: bottom 0.1s 0.34s ease-in , transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) , background-color 0.3s linear;
    }
  }
  &.active{
    >div{
      transform: rotate(-225deg);
      transition-delay: 0.14s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      &::before{
        top:0;
        opacity: 0;
        transition: top .1s ease-out , opacity 0.1s 0.14s ease-out , background-color 0.3s linear;
      }
      &::after{
        bottom:0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out , transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1) , background-color 0.3s linear;
      }
    }
  }
}

.hamburger.hamburger-11{
  >div{
    margin-top:-2px;
    transition-duration: .1s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    &::before{
      transition: top 0.1s 0.14s ease , opacity 0.1s ease , background-color 0.3s linear;
    }
    &::after{
      transition: bottom 0.1s 0.14s ease , transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19) , background-color 0.3s linear;
    }
  }
  &.active{
    >div{
      transform: rotate(45deg);
      transition-delay: 0.14s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      &::before{
        top:0;
        opacity: 0;
        transition: top .1s ease , opacity 0.1s 0.14s ease , background-color 0.3s linear;
      }
      &::after{
        bottom:0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease , transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1) , background-color 0.3s linear;
      }
    }
  }
}

.hamburger.hamburger-12{
  >div{
    margin-top:-2px;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    &::before,
    &::after{
      transition-duration: 0s;
      transition-delay: .1s;
      transition-timing-function: linear;
    }
    &::before{
      transition-property: top , opacity , background-color;
    }
    &::after{
      transition-property: bottom , transform , background-color;
    }
  }
  &.active{
    >div{
      transform: rotate(765deg);
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
      &::before,
      &::after{
        transition-delay: 0s;
      }
      &::before{
        top:0;
        opacity: 0;
      }
      &::after{
        bottom:0;
        transform: rotate(90deg);
      }
    }
  }
}

.hamburger.hamburger-13{
  >div{
    margin-top:-2px;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    &::before,
    &::after{
      transition-duration: 0s;
      transition-delay: .1s;
      transition-timing-function: linear;
    }
    &::before{
      transition-property: top , opacity;
    }
    &::after{
      transition-property: bottom , transform , background-color;
    }
  }
  &.active{
    >div{
      transform: rotate(-765deg);
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
      &::before,
      &::after{
        transition-delay: 0s;
      }
      &::before{
        top:0;
        opacity: 0;
      }
      &::after{
        bottom:0;
        transform: rotate(-90deg);
      }
    }
  }
}
