// 左浮动
.float-left {
  float: left;
}

// 右浮动
.float-right {
  float: right;
}

// 清除浮动影响
// 防止margin溢出
.clearfix {
  @include clearfix;
}

// 宽度撑满父容器
.width-full{
  width: 100%;
}

// 高度撑满父容器
.height-full{
  height: 100%;
}

// 居左
.text-left{
  text-align: left;
}

// 居中
.text-center{
  text-align: center;
}

// 居右
.text-right{
  text-align: right;
}

// 加粗
.text-bold{
  font-weight:bold;
}

// 一行显示溢出隐藏
.text-nowrap{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// 大写
.text-uppercase{
  text-transform: uppercase;
}

// 响应式图片
.img-responsive{
  display: block;
  max-width: 100%;
  margin-left:auto;
  margin-right:auto;
}

// 横向列表 float 实现方式
ul.list-float,
ol.list-float {
  @extend .clearfix;
  li {float: left}
}

// 横向列表 inline-block 实现方式
ul.list-inline-block,
ol.list-inline-block {
  li {display: inline-block}
}

// 横向列表 flex 实现方式
@if $flex {
  ul.list-flex,
  ol.list-flex {
    display: flex;
  }
}

// 响应式背景图
.bg-cover {
  background-size:cover;
  background-position:center;
}

// 使元素隐藏
.hide{
  display: none !important;
}