// 汉堡包按钮每一条线的宽度
$hamburger-layer-width: 30px !default;
// 汉堡包按钮每一条线的高度
$hamburger-layer-height: 3px !default;
// 汉堡包按钮每一条线的高度间隔
$hamburger-layer-spacing: 5px !default;
// 汉堡包按钮线的颜色
$hamburger-layer-color: #000 !default;
// 汉堡包按钮线的圆角效果
$hamburger-layer-border-radius: 4px !default;