@if ($use-flex == true) {
  .flex {
    display: flex;
  }
  .inline-flex {
    display: inline-flex;
  }

  @include flex-utils();
  @if ($mode == responsive) {
    // 断点名称列表
    $name-list: map-keys($responsive-breakpoint);
    @each $name in $name-list {
      // 断点
      $breakpoint: map_get($responsive-breakpoint, $name);
      // 断点最小宽度
      $min-width: map_get($breakpoint, min-width);
      // 根据断点生成
      @media (min-width: $min-width) {
        @include flex-utils($name);
      }
    }
  }
}

