@if ($use-flex == true) {
  // 基础类
  .flex {
    display: flex;
  }
  .inline-flex {
    display: inline-flex;
  }

  // 基础工具类
  .flex-space {
    flex-grow: 1;
  }
  @include flex-utils();

  // 根据断点创建响应式 flex 工具类
  @if ($mode == responsive) {
    @include loop-min-width(flex);
  }
}

