// 容器
.container {
  // 基础类
  &, &-fluid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-gutter / 2;
    padding-right: $container-gutter / 2;
  }
  // 宽度定义
  @if ($mode == normal) {
    max-width: $container-normal-max-width;
  }
  @if ($mode == responsive) {
    @include loop-min-width(container);
  }
  @if ($mode == mini-program) {

  }
}

// 行
.row {
  // flex 实现
  @if ($use-flex == true) {
    display: flex;
    flex-wrap: wrap;
  }
  // float 实现
  @if ($use-flex != true) {
    @include clearfix;
  }
  // 行中列间距
  @if ($mode == normal) {
    @include loop-level(row-space);
  }
  @if ($mode == responsive) {
    @include loop-level(row-space, true);
  }
  @if ($mode == mini-program) {
    @include loop-level(row-space);
  }
  // 等高（flex 模式专有）
  @if ($use-flex == true) {
    &.equal-height {
      // 使 col 变为 flex
      // align-items：stretch 实现等高
      > [class*="col-"] {
        display: flex;
        align-items: stretch;
        // 等高元素
        > *:first-child {
          width: 100%;
        }
      }
    }
  }
}

// 列
@if ($mode == normal) {
  @include col();
}
@if ($mode == responsive) {
  @include loop-min-width(col);
}
@if ($mode == mini-program) {
  @include col();
}
