.container {
  // 基础类
  &, &-fluid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-gutter / 2;
    padding-right: $container-gutter / 2;
  }
  // 宽度定义
  @if ($mode == normal) {
    max-width: $container-normal-max-width;
  }
  @if ($mode == responsive) {
    @include loop-min-width(container);
  }
  @if ($mode == mini-program) {

  }
}

.row {
  // flex 实现
  @if ($use-flex == true) {
    display: flex;
    flex-wrap: wrap;
  }
  // float 实现
  @if ($use-flex != true) {
    @include clearfix;
  }
  // 行中列间距
  @if ($mode == normal) {
    @include loop-level(row-space);
  }
  @if ($mode == responsive) {
    @include loop-level(row-space, true);
  }
  @if ($mode == mini-program) {
    @include loop-level(row-space);
  }
}

// 列
@include col();
@if ($mode == responsive) {
  @include loop-min-width(col);
}

// flex-grow: 1
@if ($use-flex == true) {
  .col {
    flex-grow: 1;
  }
}

