.container {
  &, &-fluid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-gutter / 2;
    padding-right: $container-gutter / 2;
  }
  // 宽度
  @if ($mode == normal) {
    max-width: $container-normal-max-width;
  }
  @if ($mode == responsive) {
    @each $breakpoint in $responsive-breakpoint {
      // 响应式断点宽度
      $min-width: map_get($breakpoint, min-width);
      // 当前断点 container 最大宽度
      $container-max-width: map_get($breakpoint, container-max-width);
      // 非最小屏幕宽度样式（最小时为 100%）
      @if ($min-width != 0px) {
        @media (min-width: $min-width) {
          max-width: $container-max-width;
        }
      }
    }
  }
}

.row {
  @if ($use-flex == true) {
    display: flex;
    flex-wrap: wrap;
  } @else {
    @include clearfix;
  }
  // 行中列间距
  @if ($mode == normal) {
    @include loop-level(space, $space-max-level, $space-level-span, $space-min-val, 1);
  }
  @if ($mode == responsive) {
    // 断点数量
    $breakpointLength: length($responsive-breakpoint);
    // 断点之前值的缩放比例
    $span-ratio: (1 - $space-min-ratio) / ($breakpointLength - 1);
    // 记录当前的比例
    $current-ratio: $space-min-ratio;
    // for
    @each $breakpoint in $responsive-breakpoint {
      // 断点最小宽度
      $min-width: map_get($breakpoint, min-width);
      // 断点最低档不设置媒体查询
      @if ($min-width == 0px) {
        @include loop-level(space, $space-max-level, $space-level-span, $space-min-val, $current-ratio);
      }
      // 其余档位设置媒体查询
      @if ($min-width != 0px) {
        @media (min-width: $min-width) {
          @include loop-level(space, $space-max-level, $space-level-span, $space-min-val, $current-ratio);
        }
      }
      // 改变比例值
      $current-ratio: $current-ratio + $span-ratio;
    }
  }
}

// 列
@include col-base($use-flex);
@include col-width($use-flex);
@if ($mode == responsive) {
  @each $breakpoint in $responsive-breakpoint {
    // 断点名称
    $name: map_get($breakpoint, name);
    // 响应式断点宽度
    $min-width: map_get($breakpoint, min-width);
    @include col-base($use-flex, $name);
    @if ($min-width == 0) {
      @include col-width($use-flex, $name);
    } @else {
      @media (min-width: $min-width) {
        @include col-width($use-flex, $name);
      }
    }
  }
}

// flex-grow: 1
@if ($use-flex == true) {
  .col {
    flex-grow: 1;
  }
}

