@if ($has-grid) {
  .container {
    @include grid-container;
  }
  .container-fluid {
    @include grid-contaienr-fluid;
  }
  .row {
    @include grid-row;
  }
  .col {
    @include grid-col;
    // flex - 列对其工具类
    @if ($flex) {
      &-align-full {
        align-items: stretch;
      }
      &-align-top {
        align-items: flex-start;
      }
      &-align-center {
        align-items: center;
      }
      &-align-bottom {
        align-items: flex-end;
      }
    }
  }
}
