@import "normalize";

// margin padding 归 0
// 文字继承
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

// box-sizing 设置
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// line-height 设置为 1
html,
button,
input,
optgroup,
select,
textarea {
  line-height: 1;
}

// body 背景色默认为白色
body {
  background-color: #fff;
  font-family: "Microsoft YaHei", sans-serif;
}

// a 标签下划线取消
// 颜色继承
a {
  text-decoration: none;
  color: inherit;
}

// table 边框合并
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// 列表样式清除
ol, ul {
  list-style: none;
}

// input number 的上下选择箭头去掉
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

// 取消按钮和输入框的 outline
a, button, input {
  outline: none !important;
}
