@import "../../_layout/variable";

// 覆盖的元素
@mixin cover($z-index: null, $position: absolute) {
  @if ($position) {
    position: $position;
  } @else {
    position: absolute;
  }
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  @if ($z-index) {
    z-index: $z-index;
  }
}

// 背景常用处理
@mixin bg-cover($position-x: center, $position-y: center) {
  background-size: cover;
  background-position: $position-x $position-y;
}

// 移动端 1px 线
@mixin px1($dir: 'x', $origin: center center) {
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    @if ($dir == 'x') {
      transform: scaleY(0.7);
    }
    @if ($dir == 'y') {
      transform: scaleX(0.7);
    }
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    @if ($dir == 'x') {
      transform: scaleY(0.5);
    }
    @if ($dir == 'y') {
      transform: scaleX(0.5);
    }
  }
}

// 响应式
@mixin res($attr, $base-value, $options: null) {
  @if ($_mode == responsive) {
    // 赋值基础属性值
    @if ($base-value) {
      #{$attr}: $base-value;
    }
    // 响应式断点处理
    @if (type_of($options) == map) {
      @each $name in $_layout-responsive-name-min-to-max-list {
        $breakpoint: map_get($layout-responsive-breakpoint, $name);
        $breakpoint-i: index($_layout-responsive-name-min-to-max-list, $name);
        $val: map_get($options, $name);
        @if ($breakpoint-i + 1 <= $_layout_responsive-breakpoint-length) {
          $next-breakpoint: map_get($layout-responsive-breakpoint, nth($_layout-responsive-name-min-to-max-list, $breakpoint-i + 1));
          $max-width: map_get($next-breakpoint, min-width) - 1px;
          @media (max-width: $max-width) {
            #{$attr}: $val;
          }
        }
      }
    }
    // 响应式比例处理
    @if (type_of($options) == number) {

    }
  }
}