@media screen and (max-width: @screen-md-max) {
  .hide-md{
    display: none !important;
  }
}

@media screen and (max-width: @screen-sm-max) {
  .hide-sm{
    display: none !important;
  }
}

@media screen and (max-width: @screen-xs-max) {
  .hide-xs{
    display: none !important;
  }
}