// 参考 vuetify helper-class display
// 格式为 hidden-{ breakpoint name }-{ condition }
// only up down 三种模式
.hidden {
  display: none !important;
  @if ($mode == responsive) {
    // 断点名称列表
    $name-list: map-keys($responsive-breakpoint);
    // 断点数量
    $breakpoint-length: length($responsive-breakpoint);
    // each
    @each $name in $name-list {
      // 当前断点
      $breakpoint: map_get($responsive-breakpoint, $name);
      // 当前断点下限
      $current-min-width: map_get($breakpoint, min-width);
      // 当前断点的下标
      $i: index(map_keys($responsive-breakpoint), $name);
      // 上一个的端点
      $prev-breakpoint: map_get($responsive-breakpoint, nth($name-list, $breakpoint-length - 1));
      $prev-min-width: map_get($prev-breakpoint, min-width);
      // up
      @if ($i != $breakpoint-length) {
        // 下一个断点
        $next-breakpoint: map_get($responsive-breakpoint, nth($name-list, $i + 1));
        $next-min-width: map_get($next-breakpoint, min-width);
        @media (min-width: $next-min-width) {
          &-#{$name}-up {
            display: none !important;
          }
        }
      }
      // down
      @if ($i != 1) {
        @media (max-width: $current-min-width - 1px) {
          &-#{$name}-down {
            display: none !important;
          }
        }
      }
      // only
      @if ($i == 1) {
        // 下一个断点
        $next-breakpoint: map_get($responsive-breakpoint, nth($name-list, $i + 1));
        $next-min-width: map_get($next-breakpoint, min-width);
        @media (max-width: $next-min-width - 1px) {
          &-#{$name}-only {
            display: none !important;
          }
        }
      } @else if ($i == $breakpoint-length) {
        @media (min-width: $current-min-width) {
          &-#{$name}-only {
            display: none !important;
          }
        }
      } @else {
        // 下一个断点
        $next-breakpoint: map_get($responsive-breakpoint, nth($name-list, $i + 1));
        $next-min-width: map_get($next-breakpoint, min-width);
        @media (min-width: $current-min-width) and (max-width: $next-min-width - 1px) {
          &-#{$name}-only {
            display: none !important;
          }
        }
      }
    }
  }
}