// 是否使用 flex 实现布局
$layout-use-flex: true !default;

// container 左右槽宽
$layout-container-gutter: 15px !default;

// container 定宽模式宽度
$layout-container-normal-width: 1230px !default;

// 响应式断点，从小到大写
$layout-responsive-breakpoint: (
  // 手机
  xs: (min-width: 0px, container-width: 100%),
  // 平板
  sm: (min-width: 768px, container-width: 720px),
  // 小屏
  md: (min-width: 992px, container-width: 960px),
  // 大屏
  lg: (min-width: 1280px, container-width: 1230px)
) !default;

// 栅格间距最大等级
$layout-grid-space-max-level: 20 !default;

// 栅格间距递增值
$layout-grid-space-span: 5px !default;

// 栅格间距缩放比例
$layout-grid-space-min-ratio: 0.5 !default;

// 栅格间距最小值
$layout-grid-space-min: 5px !default;

// 栅格列数
$layout-grid-col-num: 12 !default;