// 返回去除单位后的数值
@function strip-unit ($value) {
  @return ($value / ($value * 0 + 1));
}

// 将数值按照设计图宽度转为 vw 单位
@function vw ($px) {
  $width: strip-unit($util-vw-width);
  $px: strip-unit($px);
  @return $px / ($width / 100) * 1vw;
}

// 翻转列表
@function reverse ($list) {
  // 结果
  $result: ();
  // length
  $length: length($list);
  // 循环拼接
  @for $i from 1 through $length {
    $last-item: nth($list, $length - $i + 1);
    $result: append($result, $last-item);
  }
  // return
  @return $result;
}

// 微信小程序 rpx 报错问题
@function rpx ($value) {
  @if ($_mode == mini-program) {
    $value: strip-unit($value);
    @return #{$value}rpx;
  } @else {
    @return $value;
  }
}