@import "../../_layout/variable";
@import "../../_layout/mixin";

// 清除浮动影响
%clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

// 文字一行显示溢出隐藏
%ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// 隐藏
%hidden {
  @include hidden;
}
