@mixin container-base {
  height: 100%;
  margin: 0 auto;
  padding-left :$responsive-gutter / 2;
  padding-right :$responsive-gutter / 2;
  @extend .clearfix;
}
@mixin container-width {
  @each $breakpoint in $responsive-breakpoints{
    $innerWidth : map-get($breakpoint,innerWidth);
    $width      : map-get($breakpoint,width);
    @media screen and (min-width:$innerWidth){
      width:$width;
    }
  }
}