// 断点类
@mixin _col-base($breakpoint-name: '') {
  @for $i from 1 through $layout-grid-col-num {
    &#{$breakpoint-name}-#{$i} {
      min-height: 1px;
      @if ($layout-use-flex == false) {
        float: left;
      }
    }
  }
}
@mixin _col-width($breakpoint-name: '') {
  @for $i from 1 through $layout-grid-col-num {
    $width: 100% / $layout-grid-col-num * $i;
    &#{$breakpoint-name}-#{$i} {
      @if ($layout-use-flex == true) {
        flex: 0 0 $width;
        max-width: $width;
      }
      @if ($layout-use-flex == false) {
        width: $width;
      }
    }
  }
}
@mixin _col-pull($breakpoint-name: '') {
  @for $i from 1 through $layout-grid-col-num {
    $offset: 100% / $layout-grid-col-num * $i;
    &#{$breakpoint-name}-pull-#{$i} {
      position: relative;
      right: $offset
    }
  }
}
@mixin _col-push($breakpoint-name: '') {
  @for $i from 1 through $layout-grid-col-num {
    $offset: 100% / $layout-grid-col-num * $i;
    &#{$breakpoint-name}-push-#{$i} {
      position: relative;
      left: $offset
    }
  }
}
@mixin _col-offset($breakpoint-name: '') {
  @for $i from 1 through $layout-grid-col-num {
    $offset: 100% / $layout-grid-col-num * $i;
    &#{$breakpoint-name}-offset-#{$i} {
      margin-left: $offset;
    }
  }
}
@mixin _normal-util($type) {
  @if ($type == col-base) {
    @include _col-base;
  }
  @if ($type == col-width) {
    @include _col-width;
  }
  @if ($type == col-pull) {
    @include _col-pull;
  }
  @if ($type == col-push) {
    @include _col-push;
  }
  @if ($type == col-offset) {
    @include _col-offset;
  }
}
@mixin _responsive-util($type) {
  @each $name in $_layout-responsive-name-min-to-max-list {
    $breakpoint: map_get($layout-responsive-breakpoint, $name);
    $min-width: map_get($breakpoint, min-width);
    @media (min-width: $min-width) {
      @if ($type == col-base) {
        @include _col-base(-#{$name});
      }
      @if ($type == col-width) {
        @include _col-width(-#{$name});
      }
      @if ($type == col-pull) {
        @include _col-pull(-#{$name});
      }
      @if ($type == col-push) {
        @include _col-push(-#{$name});
      }
      @if ($type == col-offset) {
        @include _col-offset(-#{$name});
      }
    }
  }
}

// 等级类
@mixin _font-size($ratio: 1) {
  @for $i from 1 through $layout-fs-max-level {
    $value: ($layout-fs-min + ($i - 1) * $layout-fs-span) * $ratio;
    // 修正最小值
    @if ($value < $layout-fs-min) {
      $value: $layout-fs-min;
    }
    &-#{$i} {
      font-size: $value;
    }
  }
}
@mixin _row-space($ratio: 1) {
  @for $i from 1 through $layout-grid-space-max-level {
    $space: $i * $layout-grid-space-span * $ratio;
    // 修正最小值
    @if ($space < $layout-grid-space-min) {
      $space: $layout-grid-space-min;
    }
    &.space-#{$i} {
      margin: $space / 2 * -1;
      > * {
        padding: $space / 2;
      }
    }
  }
}
@mixin _normal-level($type) {
  @if ($type == row-space) {
    @include _row-space(1)
  }
  @if ($type == font-size) {
    @include _font-size(1)
  }
}
@mixin _responsive-level($type) {
  $min-ratio: null;
  // 根据 type 追踪最小值
  @if ($type == row-space) {
    $min-ratio: $layout-grid-space-min-ratio;
  }
  @if ($type == font-size) {
    $min-ratio: $layout-fs-min-ratio;
  }
  // 响应式断点数量
  $breakpoint-length: length($layout-responsive-breakpoint);
  // 当前的响应系数，默认为最小值
  $current-ratio: $min-ratio;
  // 响应系数间的跨度
  $ratio-span: (1 - $min-ratio) / ($breakpoint-length - 1);
  // 循环创建响应式等级类
  @each $name in $_layout-responsive-name-min-to-max-list {
    // 当前断点
    $breakpoint: map_get($layout-responsive-breakpoint, $name);
    // 当前最小屏幕宽度
    $min-width: map_get($breakpoint, min-width);
    // @media
    @media (min-width: $min-width) {
      // switch
      @if ($type == row-space) {
        @include _row-space($current-ratio)
      }
      @if ($type == font-size) {
        @include _font-size($current-ratio)
      }
    }
    // 改变现有比例
    $current-ratio: $current-ratio + $ratio-span;
  }
}

// container
@mixin container-base() {
  margin-left: auto;
  margin-right: auto;
  padding-left: $layout-container-gutter;
  padding-right: $layout-container-gutter;
}
@mixin container-width() {
  @if ($mode == normal) {
    width: $layout-container-normal-width;
  }
  @if ($mode == responsive) {
    @each $name in $_layout-responsive-name-min-to-max-list {
      $breakpoint: map_get($layout-responsive-breakpoint, $name);
      $min-width: map_get($breakpoint, min-width);
      $container-width: map_get($breakpoint, container-width);
      @media (min-width: $min-width) {
        width: $container-width;
      }
    }
  }
}

// row
@mixin row-base() {
  @if ($layout-use-flex == true) {
    display: flex;
    flex-wrap: wrap;
  }
  @if ($layout-use-flex == false) {
    @extend %clearfix;
  }
}
@mixin row-util() {
  // equal-height(flex)
  @if ($layout-use-flex == true) {
    &.equal-height {
      // col 元素 align-items：stretch 实现等高
      > * {
        display: flex;
        align-items: stretch;
      }
      // col 下第一个子元素，消除宽度影响
      > * > *:first-child {
        width: 100%;
      }
    }
  }

  // space
  @if ($mode == normal) {
    @include _normal-level(1);
  }
  @if ($mode == responsive) {
    @include _responsive-level(row-space);
  }
  @if ($mode == mini-program) {
    @include _normal-level(1);
  }
}

// col
@mixin col-base() {
  @if ($_layout-is-responsive == false) {
    @include _normal-util(col-base);
  }
  @if ($_layout-is-responsive == true) {
    @include _responsive-util(col-base);
  }
}
@mixin col-width() {
  @if ($_layout-is-responsive == false) {
    @include _normal-util(col-width);
  }
  @if ($_layout-is-responsive == true) {
    @include _responsive-util(col-width);
  }
}
@mixin col-util() {
  // 待完成
  // pull(responsive)
  // push(responsive)
  // offset(responsive)
  @if ($_layout-is-responsive == true) {
    @include _responsive-util(col-pull);
    @include _responsive-util(col-push);
    @include _responsive-util(col-offset);
  }
}

// font-size
@mixin font-size() {
  @if ($_layout-is-responsive == false) {
    @include _normal-level(font-size);
  }
  @if ($_layout-is-responsive == true) {
    @include _responsive-level(font-size);
  }
}