@import "./grid/variable";
@import "./font-size/variable";

// 是否响应式
$_layout-is-responsive: $mode == responsive;
// 响应式断点名称，从小到大
$_layout-responsive-name-min-to-max-list: map-keys($layout-responsive-breakpoint);
// 响应式断点名称，从大到小
$_layout-responsive-name-max-to-min-list: reverse($_layout-responsive-name-min-to-max-list);