// addones ------------------------------------------------------
// 栅格
$has-grid: true;
// 布局工具类
$has-layout: false;
// 汉堡包按钮
$has-hamburger: true;
// 特效按钮
$has-button: false;
// 工具类
$has-utils: true;

// grid - 公共 -------------------------------------------------
// 一行中的列数
$cols: 12;
// 是否使用 flex 实现栅格
// 若为 false 则使用 float 实现
// flex 多了一些对其工具类
$flex: true;
// 左右 padding
$container-plr: 15px;
// 列间距的最大值
$col-space: 50;
// 列间距每一段间隔值（从 0 开始）
$col-space-step: 5;

// grid - 定宽 -------------------------------------------------
// 定宽宽度
$container-fixed-width: 1180px;

// grid - 响应式 -----------------------------------------------
// 是否是响应式
$is-responsive: false;
// 响应式断点
$responsive-breakpoint: (
  (name: xs, min-width: 0px, container-width: 100%),
  (name: sm, min-width: 768px, container-width: 750px),
  (name: md, min-width: 992px, container-width: 960px),
  (name: lg, min-width: 1280px, container-width: 1260px)
);

// layout - 布局工具类 -------------------------------------------
// min:  最小值
// max： 最大值
// step：值间隔
$margin-max: 50px;
$margin-step: 5px;

$padding-max: 50px;
$padding-step: 5px;

$fs-min: 12px;
$fs-max: 50px;
$fs-step: 2px;

$lh-min: 1;
$lh-max: 2;
$lh-step: 0.1;

// hamburger -----------------------------------------------------
// 汉堡包按钮每一条线的宽度
$hamburger-layer-width: 40px;
// 汉堡包按钮每一条线的高度
$hamburger-layer-height: 4px;
// 汉堡包按钮每一条线的高度间隔
$hamburger-layer-spacing: 6px;
// 汉堡包按钮线的颜色
$hamburger-layer-color: #000;
// 汉堡包按钮线的圆角效果
$hamburger-layer-border-radius: 4px;

// button --------------------------------------------------------
// 按钮的留白
$btn-anime-padding: 8px 25px;
// 按钮的颜色
$btn-anime-color-default: #fff;
// 按钮的背景色
$btn-anime-bgc-default: #8ac7db;
// 按钮的过度时间定义
$btn-anime-time-short: 0.3s;
$btn-anime-time-middle: 0.6s;
$btn-anime-time-long: 0.9s;
$btn-anime-time-default: $btn-anime-time-middle;
// slide滑动的速度曲线
$btn-slide-ttf: cubic-bezier(.77, 0, .18, 1);
// slide滑动的距离
$btn-slide-distance: 20px;
// slide文字出现的延迟度
$btn-slide-delay: 0.1s;
// slide黑色遮罩的颜色
$btn-slide-shadow: rgba(0, 0, 0, .3);
