// 是否开启弹性盒子布局
$flex: true;

// 汉堡包按钮每一条线的宽度
$hamburger-layer-width: 40px;
// 汉堡包按钮每一条线的高度
$hamburger-layer-height: 4px;
// 汉堡包按钮每一条线的高度间隔
$hamburger-layer-spacing: 6px;
// 汉堡包按钮线的颜色
$hamburger-layer-color: #000;
// 汉堡包按钮线的圆角效果
$hamburger-layer-border-radius: 4px;

// 按钮的留白
$btn-anime-padding: 8px 25px;
// 按钮的颜色
$btn-anime-color-default: #fff;
// 按钮的背景色
$btn-anime-bgc-default: #8ac7db;
// 按钮的过度时间定义
$btn-anime-time-short: 0.3s;
$btn-anime-time-middle: 0.6s;
$btn-anime-time-long: 0.9s;
$btn-anime-time-default: $btn-anime-time-middle;
// slide滑动的速度曲线
$btn-slide-ttf: cubic-bezier(.77, 0, .18, 1);
// slide滑动的距离
$btn-slide-distance: 20px;
// slide文字出现的延迟度
$btn-slide-delay: 0.1s;
// slide黑色遮罩的颜色
$btn-slide-shadow: rgba(0, 0, 0, .3);

// 定宽库container的总宽度
$fixed-container-width: 1200px;
// 定宽库槽宽
$fixed-gutter: 20px;
// 定宽库一行的列数
$fixed-columns: 12;
// 定宽库行中列间距（最大值）
$fixed-max-space: 100px;
// 定宽库外边距（最大值）;
$fixed-max-margin: 100px;
// 定宽库内边距（最大值）;
$fixed-max-padding: 100px;
// 定宽库字体大小（最大值）;
$fixed-max-fs: 100px;
// 定宽库行高（最大值）;
$fixed-max-lh: 2;

// 响应式断点，名称以及.container的宽度
// 注意：！从小屏幕到大屏幕，顺序不要改变
$responsive-breakpoints: (
  (name: sm, innerWidth: 768px, width: 750px)
  (name: md, innerWidth: 992px, width: 960px)
  (name: lg, innerWidth: 1280px, width: 1260px)
);

// 响应式库最小屏幕的最大宽度
$responsive-smallest-maxWidth: map_get(nth($responsive-breakpoints, 1), innerWidth) - 1;
// 响应式库最小屏幕名称
$responsive-smallest: xs;
// 响应式库槽宽
$responsive-gutter: 20px;
// 响应式库一行的列数
$responsive-columns: 12;
// 响应式库行中列间距（最大值）
$responsive-max-space: 100px;
// 响应式库外边距（最大值）;
$responsive-max-margin: 100px;
// 响应式库内边距（最大值）;
$responsive-max-padding: 100px;
// 响应式库字体大小（最大值）;
$responsive-max-fs: 100px;
// 响应式库行高（最大值）;
$responsive-max-lh: 2;
