/////////////////////////////////////////////////////
// 清除浮动和防止margin溢出
/////////////////////////////////////////////////////
@mixin clearfix{
  &::before,&::after{
    content:"";
    display: table;
  }
  &::after{
    clear: both;
  }
}




/////////////////////////////////////////////////////
// z-index
/////////////////////////////////////////////////////
@mixin z-index{
  $i : 1;
  @for $i from 1 to 10{
    &-#{$i}{
      z-index: $i;
    }
  }
}




/////////////////////////////////////////////////////
// 遮罩
/////////////////////////////////////////////////////
@mixin shadow{
  $i : 1;
  @for $i from 1 to 10{
    &-black-#{$i}{
      @extend .cover;
      background-color:rgba(0,0,0,$i * 0.1);
    }
    &-white-#{$i}{
      @extend .cover;
      background-color: rgba(255,255,255,$i * 0.1);
    }
  }
}
